/* Css til panel siden på admin */

@import 'style.css';
@import 'form.css';

/* Overall adminside med venstre navigation */
#admin_nav {
    font-family: var(--fontText);
    font-size: var(--fontSizeMobile);
    margin: var(--marginMobile);
    border-bottom: solid thin var(--colorSecondary);

    h3 {
        font-family: var(--fontTitles);
        margin: var(--marginMobile);
    }

    ul {
        list-style-type: none;
        margin-bottom: var(--marginMobile);
        margin-left: var(--marginMobile);
        
        li {
            margin: var(--marginMobile) 0;
            
            a {
                display: inline-block;
                text-decoration: none;
                color: var(--colorText);
            }
        }
    }
}

/* Overskrifter på alle tre sections */
#book_form, #admin, #new_books {
    h1 {
        font-family: var(--fontTitles);
        text-align: center;
        font-size: var(--headerSizeMobile);
        margin: var(--marginMobile);
        padding-top: var(--paddingMobile);
    }
}

/*-------------- Section 1 - Add new books --------------*/
#book_form {
    margin: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

#book_form h2 {
    font-family: var(--fontTitles);
    font-size: var(--headerSizeMobile);
    margin: var(--marginMobile);
}
#book_form h3 {
    font-family: var(--fontText);
    font-size: var(--fontSizeMobile);
    margin: var(--marginMobile);
    padding: var(--paddingMobile);
    justify-self: self-start;
}

/*-------------- Section 2 - Added books --------------*/
#new_books {
    ul {
        font-family: var(--fontText);
        font-size: var(--fontSizeMobile);
        list-style-type: none;
        margin-top: var(--marginMobile);
        li {
            margin-left: var(--marginMobile);
            padding-left: var(--marginMobile);
        }
    }
    h3 {
        font-family: var(--fontText);
        font-size: var(--fontSizeMobile);
        margin: var(--marginMobile);
        padding: var(--marginMobile);
    }
}

/*-------------- Section 3 - Personal information --------------*/
#admin {
    ul {
        font-family: var(--fontText);
        font-size: var(--fontSizeMobile);
        list-style-type: none;
        margin-top: var(--marginMobile);
        li {
            margin: var(--marginMobile);
            padding: var(--marginMobile);
        }
    }
}


/* Desktop */
@media (min-width: 768px) {

/* Overall & venstre navigation */
    main {
        display: grid;
        grid-template-columns: 2fr 12fr;
        #admin_nav {
            position: fixed;
            font-size: var(--fontSizeDesktop);
            grid-column: 1;
            padding-right: var(--paddingDesktop);
            border-right: solid thin var(--colorSecondary);
            border-bottom: none;
            min-height: calc(100vh - var(--heightNav) - var(--heightFooter));
            h3 {
                margin-top: var(--marginDesktop);
                margin-left: 0;
            }
            ul {
                margin-left: 0;
            }
            a:hover {
                text-decoration: underline;
                transform: scale(1.1);
            }
        }
        section {
            grid-column: 2;
        }
    }

/* Overskrifter på alle 3 sektioner */
    #book_form, #admin, #new_books {
        h1 {
            text-align: left;
            margin: var(--marginDesktop);
            font-size: var(--headerSizeDesktop);
        }
    }

/*-------------- Section 1 - Add new books --------------*/
    #book_form {
        margin: auto;
        display: inline-block;
        h2 {
            font-size: var(--headerSizeDesktop);
            margin-top: var(--marginDesktop);
        }
        h3 {
            font-size: var(--fontSizeDesktop);
            margin: var(--marginDesktop) 0;
            padding-top: var(--marginDesktop);
        }
    }

/*-------------- Section 2 - Added books --------------*/
    #new_books {
        ul {
            font-size: var(--fontSizeDesktop);
            margin: var(--marginDesktop) 0 0 var(--marginDesktop);
            padding-bottom: var(--paddingDesktop);
            li {
                margin-left: var(--marginDesktop);
                padding-left: 0;            
            }
        }
        h3 {
            font-size: var(--fontSizeDesktop);
            margin-left: var(--marginDesktop);
            padding: var(--marginDesktop) 0 0 var(--marginDesktop);
        }
    }

/*-------------- Section 3 - Personal information --------------*/
    #admin {
        ul {
            font-size: var(--fontSizeDesktop);
            margin: var(--marginDesktop) 0 0 var(--marginDesktop);
        }
    }
}


/* Display hidden */
#book_form.hidden,
#new_books.hidden,
#admin.hidden {
    display: none;
}