@import 'style.css';
@import 'card.css';

#letter-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--remMobile);
    padding: var(--remMobile);
    font-family: var(--fontText);
    
    & > button {
        background: none;
        border: none;
        font-family: var(--fontText);
        font-size: var(--fontSizeMobile);
        padding: 0 0.6rem;
        cursor: pointer;
        color: var(--colorText);
        
        &.selected {
            /* color: var(--colorPrimary); */
            transform: scale(1.2);
            border-bottom: thin solid var(--colorText);
        }
    }
}

#author-list {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--fontText);
    padding: 0 var(--remMobile) 4rem var(--remMobile);
    margin: 0 auto;
    gap: var(--remMobile);
    
    .author-group {
        background: transparent;
        border: none;
        padding: var(--remMobile);
        
        /* Overskrift */
        h2 {
            font-family: var(--fontTitles);
            font-size: 1.2rem; /* rettes til samme variabel som h2 på andre sider */
            margin-bottom: var(--remMobile);
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            
          /* 2 kolonner på mobil */
            column-count: 2;
            column-gap: var(--remMobile);
            
            li {
                margin-bottom: var(--remMobile);
                font-size: 0.9rem;
                line-height: 1.4;
                color: var(--colorText);
                break-inside: avoid; /* undgå at et navn deles mellem kolonner */
                cursor: pointer;                  
                
                &:hover {
                    text-decoration: underline 0.05rem; 
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #letter-nav {
        cursor: pointer;
        button:hover {
            border-bottom: thin solid var(--colorText);
        }
    }
    #author-list {
        margin-top: 2rem;
        padding: 0 var(--remDesktop);
        gap: var(--remDesktop);
        justify-items: space-around;
        width: 64%;
        .author-group {
            padding: 0;
            h2 {
                padding-left: var(--remDesktop);
                font-size: 1.4rem; /* rettes til samme variabel som h2 på andre sider */
            }
            ul {
                column-count: 4;
                column-gap: var(--remDesktop);
                li {
                    padding: 0 var(--remDesktop);
                }
            }
        }
    }
}
