/* Kun ting der er på alle sider - main, header, footer, nav osv */
@import 'variables.css';

/* Remove default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML */
html {
    background: var(--colorBackground);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 5rem;
}

/* Navigation mobile */
nav#main {
    border-bottom: solid 0.5px var(--colorSecondary);
    padding: 0.6rem;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: var(--fontText);
    /* height: var(--heightNav); */
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fontSizeMobile);
        li {
            list-style-type: none;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--colorText);
            }
        }
        #main_nav {
            align-items: center;
        }
        div {
            display: flex;
        }
        .hidden {
            display: none;
        }
    }
    .logo {
        width: 46px;
        height: 46px;
        margin-right: 0.6rem;
        }
    .icon {
        width: 50px;
        height: 50px;
        }
}

/* Main mobile */
main {
    margin: 0 var(--marginMobile);
}

/* Footer mobile */
footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    padding: 1rem 0;
    color: var(--colorText);
    border-top: solid 0.5px var(--colorSecondary);
    text-align: center;
    font-size: var(--fontSizeMobile);
    font-family: var(--fontText);
    /* height: var(--heightFooter); */
}


@media (min-width: 768px) {

    /* Navigation og footer desktop */
    nav#main {
        padding: 0.5rem 1rem;
        ul {
            font-size: var(--fontSizeDesktop);
            li {
                padding: 0 1rem;
                a:hover {
                    text-decoration: underline;
                    transform: scale(1.1);
                }
                }
            }
        .logo {
            width: 50px;
            height: 50px;
            margin-right: 1rem;
            }
        .icon {
            width: 55px;
            height: 55px;            
            }
        .icon:hover {
            transform: scale(1.1);
        }

    footer {
        font-size: var(--fontSizeDesktop);
        padding: 1.2rem 0;
    }
    }



    /* Main desktop */
main {
    margin: 0 var(--marginDesktop);
}
}