@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Farve palette */
    --colorPrimary: #FAF9F6;
    --colorSecondary: #2B2B2B;
    --colorAccent1: #90CAF9;
    --colorAccent2: #A5D6A7;
    --colorBackground: linear-gradient(to left top, #FAF9F6, rgb(165, 214, 167, 0.6) 30%, rgb(144, 202, 249, 0.6) 70%, #FAF9F6);
    
    /* Tekst farve */
    --colorText: #2B2B2B;

    /* Fonte */
    --fontTitles: 'Libre+Baskerville', Arial, Helvetica, sans-serif;
    --fontText: 'Poppins', Arial, Helvetica, sans-serif;

    --fontSizeMobile: 15px;
    --fontSizeDesktop: 16px;

    /* Margin */
    --marginDesktop: 1rem;
    --marginMobile: 0.5rem;

    /* Cards */
    --cardWidth: 250px; /* bruger vi den her? */
    --imgThumbnailDimension: 150px;
    --bookCardMin: 150px;   /* mindste kort-bredde */
    --gap: 1rem;            /* afstand mellem kort - bruger vi den her?*/
}