@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Farve palette */
    --colorPrimary: #FAF9F6;
    --colorSecondary: #2B2B2B;
    --colorAccent1: #90CAF9;
    --colorAccent2: #A5D6A7;
    --colorAccent3: #F99090;
    --colorBackground: linear-gradient(to left top, #FAF9F6, #C9E6CA 30%, #BCDFFB 70%, #FAF9F6);
    
    /* Tekst farve */
    --colorText: #2B2B2B;

    /* Skygger */
    --shadowInner: inset 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.1);
    --shadowOuter: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

    /* Fonte */
    --fontTitles: 'Libre+Baskerville', Arial, Helvetica, sans-serif;
    --fontText: 'Poppins', Arial, Helvetica, sans-serif;

    /* Font størrelse */
    /* Paragraph */
    --fontSizeMobile: 15px;
    --fontSizeDesktop: 16px;

    /* Header på sider */
    --headerSizeMobile: 28px;
    --headerSizeDesktop: 34px;

    /* Cards */
    --smallForm: 400px; /* max bredde til næsten alle forms */
    --bigForm: 600px; /* max bredde signup form */
    --imgThumbnailDimension: 150px;
    --bookCardMin: 150px;   /* mindste kort-bredde */
    /* --gap: 1rem;             */
    --cardRadius: 1rem;

    /* Buttons */
    --buttonRadius: 2rem;

    /* Til margin, padding og gap */
    --remDesktop: 1rem;
    --remMobile: 0.5rem;

    /* Højde nav / footer */
    --heightNav: 4rem;
    --heightFooter: 6rem;

    /* Padding til sider */
    --paddingSiteTop: 2rem;
    --paddingSiteBottom: 6rem;
}